---
import "../styles/global.css";
import { join } from "node:path";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  description: string;
  permalink: string;
}

const { title, description, permalink } = Astro.props;
const socialUrl = Astro.site.href + "assets/social.png";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />

<AstroFont
  config={[
    {
      name: "Fira Sans",
      src: [
        {
          style: "normal",
          weight: "700",
          path: join(
            process.cwd(),
            "public",
            "assets",
            "fonts",
            "va9B4kDNxMZdWfMOD5VnLK3eRhf6Xl7Glw.woff2"
          ),
          css: {
            "unicode-range": `U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;`,
          },
        },
      ],
      preload: false,
      display: "swap",
      fallback: "sans-serif",
      cssVariable: "font-family-sans",
    },
    {
      name: "Merriweather",
      src: [
        {
          style: "normal",
          weight: "400",
          path: join(
            process.cwd(),
            "public",
            "assets",
            "fonts",
            "u-440qyriQwlOrhSvowK_l5-fCZMdeX3rg.woff2"
          ),
          css: {
            "unicode-range": `U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;`,
          },
        },
        {
          style: "normal",
          weight: "700",
          path: join(
            process.cwd(),
            "public",
            "assets",
            "fonts",
            "u-4n0qyriQwlOrhSvowK_l52xwNZWMf6hPvhPQ.woff2"
          ),
          css: {
            "unicode-range": `U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;`,
          },
        },
      ],
      preload: false,
      display: "swap",
      fallback: "serif",
      cssVariable: "font-family-serif",
    },
  ]}
/>

<ViewTransitions />

<!-- This is intentionally inlined to avoid FOUC -->
<script is:inline>
  const root = document.documentElement;
  const theme = localStorage.getItem("theme");
  if (
    theme === "dark" ||
    (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    root.classList.add("theme-dark");
  } else {
    root.classList.remove("theme-dark");
  }
</script>
